@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "sans-sarif";
  background-color: #1e1e2f;
  color: white;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: auto;
  padding: 0, 20px;
}
